Package: git-repo
Version: 0.01
Architecture: all
Maintainer: Deki <Dekiakbar@linuxmail.org>
Installed-Size: 2
Depends: git,curl
Section: extras
Priority: optional
Homepage: your homepage
Description: This tool use to make a repository on github using your terminal, also this tool come with NO WARRANTY,USE BY YOUR OWN RISK.
